* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  background: linear-gradient(to right, white, 30%, rgb(34, 184, 209, 100%));
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.header img {
  height: 10rem;
}

.menu {
  display: flex;
  list-style: none;
  border-bottom: none;
  gap: 10rem;
  font-size: 3rem;
  margin-right: 15rem;
  cursor: pointer;
  align-items: center;
}

.title{
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  text-transform: uppercase;
}

.section--second {
  width: 60%;
}

.games {
 display: flex;
 justify-content: flex-end;
 gap: 3rem;
}

.games__game {
  list-style: none;
  background: var(--game--background--color);
  border-radius: 0.5rem;
  transition: 0.8s opacity;
  animation-name: fadeIn;
  animation-duration: 0.8s;

}


.games__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
  position: relative;
  left: 20rem;
}

.games__img:hover {
  cursor: pointer;
  transform: scale(1.1);
}


.arrow-game {
  width: 2%;
  font-size: 300%;
  outline: none;
  border: none;
  position: relative;
  top: 35rem;
}

.arrow-game-right {
  width: 2%;
  font-size: 300%;
  outline: none;
  border: none;
  position: relative;
  top: 35rem;
  left: 100rem;
}

li[data-title="goal4"]:nth-child(4),
li[data-title="goal5"]:nth-child(5),
li[data-title="goal6"]:nth-child(6) {
  display: none;
}

@keyframes away {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

